@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea, select {
  @apply focus:outline-none;
}
input[style*="outline: none"]:focus + * {
  outline: none !important;
}
input:focus + * {
  outline-color: transparent !important;
  outline-style: none !important;
}
input[type="search"] {
  border-bottom-width: 1px !important;
}

:root {
  --amplify-primary-color: #5ece7b;
  --amplify-primary-tint: #5ece7b;
  --amplify-primary-shade: #5ece7b;
}
