@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea, select {
  @apply focus:outline-none;
}
input[style*="outline: none"]:focus + * {
  outline: none !important;
}
input:focus + * {
  outline-color: transparent !important;
  outline-style: none !important;
}
